@use "../../base/index" as base;
@use "../components/index";

#c1 {
  text-align: center;
  padding-top: 6rem;
  .service-card-cont {
    margin-top: 4.8rem;


    // width: 100%;
    @include base.flex('row', 'space-between', 'center', 3rem);

    @include base.mq-breakpoint-down(sm) {
      margin-top: 8rem;
      @include base.flex('column', 'center', 'center', 8rem);
    }

    li {
      flex-basis: 34%;
      height: 100%;
      position: relative;
    }

  }
  position: relative;
  .service-plus {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: white;
    box-shadow:  2px 2px 20px rgba(185, 185, 185, 0.4);
    z-index: 2;

    @include base.flex('row', 'center', 'center', '');
    position: absolute;
    top: 50%;
    right:0%;
    transform: translate(calc(50% + 1.5rem), -50%);

    @include base.mq-breakpoint-down(sm) {
      top: 100%;
      right: 50%;
      transform: translate(50%, calc(50% - 1rem));
    }
  }
}

#c2 {
  padding-top: 12rem;
  padding-bottom: 8rem;

  .check {
    padding: 3.2rem 4rem;
    background: #FAFBFC;
    border-radius: 12px;

  }

  .check-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    color: #212121;
  }
  
  position: relative;
  .check-list {
    padding-top: 1.6rem;
    @include base.flex('column', '', '', 0.8rem);
    // position: absolute;
    transform: translate(2rem);
    li {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      color: #616161;
      list-style-type: disc;
    }
  }
}