@use "../../base/index" as base;
@use "../components/index";

#c1 {
  text-align: center;
  padding-top: 6rem;
  .service-cont {
    margin-top: 6rem;
  }
  position: relative;
}

#c2 {
  padding-top: 12rem;
  padding-bottom: 8rem;

  .check {
    padding: 3.2rem 4rem;
    background: #FAFBFC; 
    border-radius: 12px;

  }

  .check-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    color: #212121;
  }
  
  position: relative;
  .check-list {
    padding-top: 1.6rem;
    @include base.flex('column', '', '', 0.8rem);
    // position: absolute;
    transform: translate(2rem);
    li {
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      color: #616161;
      list-style-type: disc;
    }
  }
}