@use "../../base/index" as base;
@use "../components/index";

#f1 {
  .container {
    padding-top: 12rem;
  }
  .title-1, .content-1 {
    text-align: center;
  }
  .content-1 {
    margin-top: 0.8rem;
  }

  .faq-cont {
    margin-top: 4.8rem;
  }
  
  input { display: none; }
  .li-cont {
    @include base.flex('column', 'center', '', 0);
    padding: 2.4rem 3.2rem;

    @include base.mq-breakpoint-down(sm) {
      padding: 1.6rem;
    }
    
    &:hover {
      background: #FAFBFC;
    }
    border-top: 2px solid rgba(238, 238, 238, 1);
  }

  .faq-label {
    width: 100%;
  }
  
  .faq-title {
    cursor: pointer !important;
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    @include base.flex('row', 'space-between', 'center', 0);
    .title-l {
      @include base.flex('row', '', 'center', 1.6rem);
    }
    @include base.mq-breakpoint-down(sm) {
      font-size: 1.4rem;
    }
    
  }
  .faq-content {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding-left: 5.6rem;
  }
  input[type="radio"]:checked + .li-cont .faq-content{
    margin-top: 1.2rem;
    max-height: 100vh;
    height: auto;
    visibility: visible;
    opacity: 1;
    * {
      opacity: 1;
    }
    transition:  max-height 2s ease;
    
    @include base.mq-breakpoint-down(sm) {
      padding-left: unset;
    }
  }
  input[type="radio"]:checked + .li-cont{
    background: #FAFBFC;
  }
  .img-v {
    transform: rotate(180deg);
  }
  input[type="radio"]:checked + .li-cont label .img-v {
    transform: rotate(0);
  }

  .more {
    color: #1F6FE8;
    cursor: pointer;
  }

  .ccard-cont {
    margin-bottom: 1.2rem;
    @include base.flex('row', '', 'center', 1.2rem);
    .ccard1 {
      width: 40%;
    }
    .ccard2 {
      width: 40%;
    }
  }

  .cert {
    margin-top: 2.4rem;
    width :90%;
  }
}

#f2 {
  .title-1, .content-1 {
    text-align: center;
  }
  padding-top: 12rem;
  padding-bottom: 12rem;
  @include base.mq-breakpoint-down(sm) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .content-1 {
    margin-top: 0.8rem;
  }
}

#f3 {
  .container {
    @include base.mq-breakpoint-down(sm) {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
  .f3br {
    display :none;
    @include base.mq-breakpoint-down(sm) {
      display: block;
    }
  }
  padding-bottom: 8rem;
  .consult-cont {
    background: #F4F9FE;
    border-radius: 12px;
    padding: 4.8rem 7.2rem;

    @include base.flex('row', 'space-between', 'center', 4rem);

    @include base.mq-breakpoint-down(sm) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  .consult-title {
    font-family: 'GmarketSans';
    font-weight: 800;
    font-size: 2rem;
    line-height: 130%;
    margin-bottom: 0.4rem;
    color: #212121;
  }
  .consult-content {
    font-size: 1.4rem;
    line-height: 150%;
    color: #616161; 
    margin-bottom: 2.4rem;
  }

  .consult-btn {
    /* Auto layout */
    font-family: 'GmarketSans';
    color: #1F6FE8;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;

    padding: 0 2.4rem;
    width: 24rem;
    height: 4.4rem;

    background: rgba(31, 111, 232, 0.1);

    border: 1px solid #1F6FE8;
    border-radius: 4px;
  }
}