@use "../../base/index" as base;
@use "../components/index";



#p1 .container {
  height: 85rem;
  
  display: flex;
  .left {
    flex-basis: 50%;
    @include base.flex('column', 'center', '', 0);
  }
  .right {
    flex-basis: 50%;
    @include base.flex('column', 'center', '', 0);
    img {
      width : 100%;
    }
  }

  .p1-content {
    margin-top: 2.4rem;
    margin-bottom: 4rem;
  }

  .apply-btn {
    border: 1px solid #1F6FE8;
    background: #1f6fe821;
    color: #1F6FE8;
    border-radius: 4px;
    padding: 1.2rem 0;
    width: clamp(18rem, 45vw, 24rem);
    font-family: 'GmarketSans';
    font-size: 1.4rem;
    font-weight: 500;

    transition: all 0.5s ease;
    &:hover {
      background: rgba(31, 111, 232, 0.18);
    }
  }

  @include base.mq-breakpoint-down(sm) {
    text-align: center;
    height: unset;
    flex-direction: column;
    .left {
      padding-top: 7.2rem;
      padding-bottom: 1.2rem;
      @include base.flex('column', 'center', 'center', 0);
    }
    .right {
      @include base.flex('column', '', 'center', 0);
      padding-bottom: 4rem;
    }

    .right {
      img {
        max-width: 55rem;
      }
    }
  }
}

#p2 {
  background: #FAFBFC;
  .title-1 {
    text-align: center;
  }
  .content-1 {
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 7.2rem;
  }
}

#p2 .container {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;

  @include base.mq-breakpoint-down('sm') {
    text-align: center;
  }

  img {
    width: 8rem;
    height: 8rem;
  }

  h4 {
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
  }

  ul {
    @include base.flex('row', 'space-between', '', 12rem);

    @include base.mq-breakpoint-down('sm') {
      @include base.flex('column', 'space-between', 'center', 12rem);
    }
  }
}

#p3 .container {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;
  display: flex;
  @include base.mq-breakpoint-down(sm) {
    flex-direction: column;
    text-align: center;
  }
  .left {
    flex-basis: 33%;
    @include base.flex('column', 'center', '', 0);
    @include base.mq-breakpoint-down(sm) {
      @include base.flex('column', 'center', 'center', 0);
    }
  }
  .right {
    flex-basis: 67%;
    @include base.flex('column', 'center', '', 0);

  }
  position: relative;

  .p3-title2 {
    @include base.flex('row', '', 'center', 0.8rem);
    line-height: unset;
  }
  .p3-title1 {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }
  .tq {
    margin-top: 2rem;
  }

}

#p4 {
  @include base.flex('column', 'center', 'center', '');
  background-image: url('../../images/building-full.png');
  height: 32rem;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FAFAFA;
  text-align: center;
  h2, p {
    color: #FAFAFA;
  }

  p {
    font-weight: 100;
    margin-top: 0.4rem;
    margin-bottom: 3.2rem; 
  }

  .apply-btn {
    border: 1px solid #BCCCF4;
    background: transparent;
    color: #BCCCF4;
    border-radius: 4px;
    padding: 1.2rem 0;
    width: clamp(18rem, 45vw, 24rem);
    font-family: 'GmarketSans';
    font-size: 1.4rem;
    font-weight: 500;
  }
}

#p5 .container {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;

  display: flex;
  .left {
    flex-basis: 50%;
    @include base.flex('column', 'center', '', 0);
  }
  .right {
    flex-basis: 50%;
    @include base.flex('column', 'center', '', 0);
  }

  ul {
    width: 100%;
    li {
      margin-bottom: 1.6rem;
    }
  }

  @include base.mq-breakpoint-down(sm) {
    text-align: center;
    flex-direction: column;

    .left {
      @include base.flex('column', 'center', 'center', '');
    }

    .right {
      margin-top: 8rem;
    }
  }

  .inner-btn {
    margin-bottom: 4.8rem;

    border: 1px solid #1F6FE8;
    background: rgba(31, 111, 232, 0.1);
    color: #1F6FE8;
    border-radius: 4px;
    padding: 0.6rem 1.2rem 0.8rem;
    @include base.flex('row', '', 'center', '');
    font-family: 'NotoSans';
    font-size: 1.5rem;
    font-weight: 500;
  }

  .p5-title2 {
    @include base.flex('row', '', 'center', 0.8rem);
    line-height: unset;
  }
  .p5-title1 {
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
  }
}

#p6 {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  background: rgba(250, 251, 252, 1);
  text-align: center;

  h2 {
    margin-bottom: 0.8rem;
  }
}
#p7 .container {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;

  .p7-title1 {
    margin-bottom: 4.8rem;
    margin-top: 1.2rem;
  }
  .p7-title2 {
    @include base.flex('row', '', 'center', 0.8rem);
    line-height: unset;
  }

  display: flex;
  .left {
    flex-basis: 50%;
    @include base.flex('column', 'center', '', 0);
    padding-right: 12rem;
  }
  .right {
    flex-basis: 50%;
    @include base.flex('column', 'center', '', 0);
  }
  @include base.mq-breakpoint-down(sm) {
    text-align: center;
    flex-direction: column;

    .left {
      @include base.flex('column', 'center', 'center', '');
      padding-right: unset;
    }

    .right {
      @include base.flex('column', 'center', 'center', '');
      margin-top: 8rem;
    }
  }


  .timestamps {
    margin-top: 4rem;
    padding: 1.6rem 3.2rem;
    gap: 1.2rem;

    width: 43.6rem;
    height: 15.8rem;

    /* blue/50 */
    
    background: #F8F8FB;
    border-radius: 8px;
    font-size: 1.4rem;
    line-height: 170%;
    font-weight: 500;
    a {
      color: #2F5DD4;
      cursor: pointer;
    }
    .times {
      margin-top: 1.2rem;
    }
    @include base.mq-breakpoint-down(sm) {
      width: 100%;
    }
  }


  video {
    max-width: 57.6rem;
    width: 100%;
    @include base.mq-breakpoint-down(sm) {
      max-width: unset;
    }
    // height: 32.4rem;
  }
}

#p8 {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;
  text-align: center;
}

#p9 {

  padding-bottom: 9.6rem;
}
#p9 .container{
  padding: 4rem 0;
  @include base.flex('column', 'center', 'center', '');
  text-align: center;

  .apply-btn {
    border: 1px solid #1F6FE8;
    background: rgba(31, 111, 232, 0.1);
    color: #1F6FE8;
    border-radius: 4px;
    padding: 1.2rem 0;
    width: clamp(18rem, 45vw, 24rem);
    font-family: 'GmarketSans';
    font-size: 1.4rem;
    font-weight: 500;


    transition: all 0.5s ease;
    &:hover {
      background: rgba(31, 111, 232, 0.18);
    }
  }

  background: rgba(244, 249, 254, 1);
  p {
    margin-top: 0.8rem;
    margin-bottom: 4rem;
  }
}