@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "NotoSans", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  font-family: "NotoSans", sans-serif;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

h3, h4, h5, h6 {
  font-weight: 500;
}

li {
  list-style: none;
}

@font-face {
  font-family: "NotoSans";
  font-weight: 100;
  font-style: normal;
  src: url("../../font/NotoSansKR-Light.woff") format("woff");
}
@font-face {
  font-family: "NotoSans";
  font-weight: normal;
  font-style: normal;
  src: url("../../font/NotoSansCJKkr-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSans";
  font-weight: bold;
  font-style: normal;
  src: url("../../font/NotoSansCJKkr-Bold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: normal;
  font-style: normal;
  src: url("../../font/GmarketSansLight.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("../../font/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: bold;
  font-style: normal;
  src: url("../../font/GmarketSansBold.woff") format("woff");
}
footer .footer-t {
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}
footer .footer-t .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: "";
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media screen and (max-width: 959.98px) {
  footer .footer-t .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}
footer .footer-t .container .t-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  font-size: 13px;
  line-height: 18.2px;
  font-weight: 500;
}
footer .footer-t .container .t-left li {
  cursor: pointer;
}
footer .footer-t .container .t-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
footer .footer-t .container .t-right img {
  width: 3.4rem;
  height: 3.4rem;
  cursor: pointer;
}
footer .footer-t .container .t-right img:hover {
  filter: brightness(60%);
}
footer .footer-m .container {
  display: flex;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media screen and (max-width: 959.98px) {
  footer .footer-m .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
  }
}
footer .footer-m .container .m-title {
  color: rgb(158, 158, 158);
  font-weight: 800;
  font-family: "GmarketSans";
  font-size: 1.5rem;
  line-height: 1.5rem;
}
footer .footer-m .container .m-left {
  flex-basis: 34%;
}
@media screen and (max-width: 959.98px) {
  footer .footer-m .container .m-left {
    flex-basis: unset;
    margin-bottom: 3.2rem;
    width: 100%;
  }
}
footer .footer-m .container .m-left .m-content {
  color: rgb(33, 33, 33);
  font-size: 12px;
  line-height: 18px;
  line-height: 150%;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}
footer .footer-m .container .m-left .m-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
@media screen and (max-width: 599.98px) {
  footer .footer-m .container .m-left .m-btn {
    flex-direction: column;
  }
}
footer .footer-m .container .m-left .m-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 0 1.6rem;
  width: 20rem;
  height: 44px;
}
footer .footer-m .container .m-left .m-btn button:hover {
  background: #424242;
}
@media screen and (max-width: 959.98px) {
  footer .footer-m .container .m-left .m-btn button {
    width: 50%;
  }
}
@media screen and (max-width: 599.98px) {
  footer .footer-m .container .m-left .m-btn button {
    width: 100%;
  }
}
footer .footer-m .container .m-left .m-btn .to-blog {
  background: #616161;
  border-radius: 4px;
  color: #F5F5F5;
}
footer .footer-m .container .m-left .m-btn .to-tip {
  background: #616161;
  border-radius: 4px;
  color: #F5F5F5;
}
footer .footer-m .container .m-right {
  flex-basis: 66%;
  padding-left: 12.4rem;
}
@media screen and (max-width: 959.98px) {
  footer .footer-m .container .m-right {
    flex-basis: 50%;
    padding-left: 6.2rem;
    flex-basis: unset;
    padding-left: unset;
  }
}
footer .footer-m .container .m-right .m-number {
  font-family: "GmarketSans";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #212121;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
footer .footer-m .container .m-right .m-time {
  font-weight: 500;
  font-size: 1.2rem;
  color: #616161;
  line-height: 150%;
}
footer .footer-b .container {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
footer .footer-b .container .b-content {
  color: #616161;
  line-height: 150%;
  word-break: keep-all;
}
footer .footer-b .container .b-content span {
  display: inline-block;
}
footer .footer-b .container .b-copyright {
  margin-top: 2.4rem;
  color: #9E9E9E;
}

#nav {
  position: fixed;
  background: #2C324B;
  height: 6rem;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
@media screen and (max-width: 959.98px) {
  #nav .nav-logo {
    width: 8rem;
  }
}
#nav .mp-content {
  display: none;
}
#nav .vvv {
  position: relative;
}
#nav .vvv:hover .mp-content {
  display: flex;
  flex-direction: column;
}
#nav #nav-mp {
  display: none;
}
#nav > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#nav > .container .nav-cont {
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100%;
}
#nav .nav-item {
  line-height: 6rem;
}
#nav .nav-item .ic {
  cursor: pointer;
}
@media screen and (max-width: 959.98px) {
  #nav .nav-item {
    display: none;
  }
}
#nav .nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
#nav .nav-btns img {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 959.98px) {
  #nav .nav-btns img {
    display: block;
  }
}
#nav .nav-btn {
  border-radius: 1.7rem;
  height: 3.4rem;
  width: 8.4rem;
  background: #4878F5;
  color: #FAFAFA;
  margin-left: 6rem;
}
#nav .nav-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}
#nav .nav-v {
  transform: rotate(180deg);
}
#nav .mp-content {
  width: 20rem;
  background: white;
  position: absolute;
  top: 0%;
  transform: translateY(5rem);
  padding: 1.2rem 0;
  border: 1px solid #EEEEEE;
  box-shadow: 2px 2px 40px rgba(54, 54, 45, 0.2);
  border-radius: 12px;
}
#nav .mp-content li {
  cursor: pointer;
  padding: 0 2.4rem;
  line-height: 4.8rem;
  font-size: 1.4rem;
  color: #616161;
}
#nav .mp-content li:hover {
  background: #eee;
}
#nav .mp-divider p {
  width: 80%;
  height: 0.1rem;
  background: rgb(225, 225, 225);
  margin: 0 auto;
}

#mps, #hi {
  display: none;
}

.nav-small {
  padding-top: 6rem;
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 959.98px) {
  .nav-small {
    visibility: visible;
  }
}

#mps:checked + .nav-small {
  display: block !important;
  height: 100vh;
  background: white;
  width: 100%;
  z-index: 3;
  position: fixed;
  display: block;
  overflow: hidden;
}

.nav-hi-content {
  display: none;
}

#hi:checked + .nav-hi-content {
  display: block;
}

.nav-small-content .nav-si, .nav-small-content .nav-hi {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  line-height: 5.6rem;
  height: 5.6rem;
  padding: 0 2.4rem;
  font-size: 1.4rem;
  line-height: 150%;
  color: #616161;
}
.nav-small-content .nav-si {
  border-bottom: 1px solid #f3f3f3;
}
.nav-small-content .nav-hi {
  padding-left: 3.6rem;
  background: #FAFAFA;
}
.nav-small-content .label-hi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nav-small-content .label-hi img {
  transform: rotate(180deg);
}

.service-cont {
  padding-left: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  position: relative;
}
@media screen and (max-width: 959.98px) {
  .service-cont .cr {
    margin-top: 8rem;
  }
  .service-cont .co {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 959.98px) {
  .service-cont {
    padding-left: unset;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.service-cont .service-plus-main {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(185, 185, 185, 0.4);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: "";
  top: 50%;
  left: 50%;
  transform: translate(0.2rem, -1rem);
}
@media screen and (max-width: 959.98px) {
  .service-cont .service-plus-main {
    transform: translate(-50%, -1.6rem);
  }
}
.service-cont .service-plus-cost {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(185, 185, 185, 0.4);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: "";
  top: 50%;
  left: 33%;
  transform: translate(1.2rem, -1.2rem);
}
@media screen and (max-width: 959.98px) {
  .service-cont .service-plus-cost {
    top: 33%;
    left: 50%;
    transform: translate(-50%, -2.2rem);
  }
}
.service-cont .service-card {
  flex-basis: 50%;
  height: 100%;
  position: relative;
  transition: all 0.6s ease;
}
.service-cont .service-card:hover {
  transform: translateY(-1.6rem);
}
@media screen and (max-width: 959.98px) {
  .service-cont .service-card:hover {
    transform: unset;
  }
}
.service-cont .service-card {
  text-align: center;
  border-radius: 12px;
  padding-top: 3.2rem;
  min-width: 25rem;
  min-height: 50rem;
  padding-bottom: 7rem;
}
@media screen and (max-width: 959.98px) {
  .service-cont .service-card {
    min-height: 42rem;
    max-width: 42rem;
    width: 100%;
  }
}
.service-cont .service-card .divider {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: "";
}
.service-cont .service-card .divider:before, .service-cont .service-card .divider:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.service-cont .service-card .divider:before {
  margin-left: 2.4rem;
  margin-right: 1.6rem;
}
.service-cont .service-card .divider:after {
  margin-left: 1.6rem;
  margin-right: 2.4rem;
}
.service-cont .service-card .service-title {
  font-family: "GmarketSans";
  font-size: 2rem;
  line-height: 150%;
  color: #212121;
}
.service-cont .service-card .service-price {
  font-family: "GmarketSans";
  font-size: 2.4rem;
  line-height: 150%;
  color: #212121;
}
.service-cont .service-card .service-btn {
  font-weight: 500;
  margin-top: 2rem;
  width: 100%;
  padding: 1.2rem;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: "GmarketSans";
  font-size: 1.4rem;
  line-height: 150%;
}
.service-cont .service-card .service-list {
  font-family: "NotoSans";
  font-size: clamp(1.2rem, 1.1vw, 1.4rem);
  line-height: 150%;
  color: #212121;
}
.service-cont .service-card .service-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: "";
  letter-spacing: -0.5px;
  margin-bottom: 1.2rem;
}
.service-cont .service-card .service-list li img {
  margin-right: 0.4rem;
}
.service-cont .cl {
  border: 1px solid #1F6FE8;
}
.service-cont .cl .service-btn {
  background: #1F6FE8;
  border: 2px solid #1F6FE8;
  color: #FAFAFA;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 0.5s ease;
}
.service-cont .cl .service-btn:hover {
  background: rgb(28, 100, 209);
}
.service-cont .cr {
  border: 1px solid rgba(31, 111, 232, 0.4196078431);
  position: relative;
}
.service-cont .cr .service-btn {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background: rgba(31, 111, 232, 0.1215686275);
  color: #1F6FE8;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
.service-cont .cr .service-btn:hover {
  background: rgba(31, 111, 232, 0.18);
}
.service-cont .co {
  border: 1px solid rgb(33, 178, 91);
  position: relative;
}
.service-cont .co .service-btn {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background: rgb(33, 178, 91);
  color: rgb(250, 250, 250);
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
.service-cont .co .service-btn:hover {
  background: #1EA454;
}

.p5-step {
  width: 100%;
}
.p5-step li {
  margin-bottom: 1.6rem;
}

.step-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 1.8rem 4rem;
  box-shadow: 2px 4px 18px rgba(169, 169, 169, 0.18);
  border-radius: 8px;
}
@media screen and (max-width: 959.98px) {
  .step-card {
    padding: 1.2rem;
  }
}
.step-card img {
  width: 5.6rem;
  height: 5.6rem;
}
.step-card .step {
  margin-left: 3.2rem;
  margin-right: 1.2rem;
  background: #1F6FE8;
  border-radius: 30px;
  padding: 0.8rem 1.6rem;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: "";
}
@media screen and (max-width: 959.98px) {
  .step-card .step {
    padding: 0.4rem 0.6rem;
    width: 4.5rem;
    margin-left: 1.2rem;
    margin-right: 0.8rem;
  }
}
.step-card p {
  color: #212121 !important;
}

.ben-cont {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(2.4rem, 2.4vw, 3.2rem);
}
@media screen and (max-width: 959.98px) {
  .ben-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
}
@media screen and (max-width: 599.98px) {
  .ben-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
.ben-cont .ben-card {
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: #FFFFFF;
  box-shadow: 2px 4px 18px rgba(169, 169, 169, 0.18);
  width: 169.33px;
  height: 173px;
  border-radius: 8px;
}
.ben-cont .ben-card:hover {
  transform: translateY(-1.6rem);
}
.ben-cont .ben-card .ben-title {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: #212121;
}
.ben-cont .ben-card .ben-cost {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 100;
  text-align: center;
  text-decoration-line: line-through;
  color: #9E9E9E;
}
.ben-cont .ben-card .ben-free {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: #EA3727;
}
@media screen and (max-width: 599.98px) {
  .ben-cont .ben-card {
    max-width: 177px;
    width: 100%;
  }
}

.tip-cards {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: clamp(2rem, 2vw, 4rem);
}
@media screen and (max-width: 959.98px) {
  .tip-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}
.tip-cards .tip-card {
  width: 33%;
  min-height: 48rem;
  position: relative;
  transition: all 0.6s ease;
  box-shadow: 2px 4px 18px rgba(169, 169, 169, 0.18);
  border-radius: 12px;
}
.tip-cards .tip-card:hover {
  transform: translateY(-1.6rem);
}
@media screen and (max-width: 959.98px) {
  .tip-cards .tip-card:hover {
    transform: unset;
  }
}
@media screen and (max-width: 959.98px) {
  .tip-cards .tip-card {
    max-width: 41rem;
    width: 100%;
    min-height: 45rem;
  }
}
.tip-cards .tip-card img {
  max-width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.tip-cards .tip-title {
  font-family: "GmarketSans";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  color: #212121;
}
.tip-cards .tip-content {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  line-height: 150%;
  color: #616161;
}
.tip-cards .tip-body {
  padding: 2.4rem;
}
.tip-cards .tip-more {
  position: absolute;
  cursor: pointer;
  bottom: 2.4rem;
  font-size: 1.4rem;
  line-height: 150%;
  color: #1F6FE8;
}

#p8 {
  overflow: hidden;
}

#p8-slide-l {
  display: flex;
  animation: slideAnimation 350s linear infinite;
  margin-top: 4.8rem;
}

#p8-slide-r {
  display: flex;
  animation: slideAnimation2 350s linear infinite;
  margin-top: 3.2rem;
}

.rCard {
  width: 39rem;
  height: 17.6rem;
  background: #fff;
  border-radius: 8px;
  margin: 0 1.2rem;
  padding: 1.8rem 2.4rem 1.2rem 2.4rem;
  box-shadow: 2px 4px 18px rgba(169, 169, 169, 0.18);
  border-radius: 8px;
}
.rCard .rWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.rCard .authorWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.rCard .authorWrap img {
  width: 2.4rem;
  padding-left: 0.4rem;
}
.rCard .authorWrap .score {
  margin-left: 1.2rem;
}
.rCard .avgScore {
  margin: 0 auto;
  margin-bottom: 3.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
}
.rCard .r-content {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #212121;
  text-align: left;
  word-break: keep-all;
}
.rCard .r-author {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 150%;
  color: #616161;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideAnimation2 {
  0% {
    transform: translateX(calc(-100% + 100vw));
  }
  100% {
    transform: translateX(0%);
  }
}
.color-text-blue {
  color: #2F5DD4 !important;
}

.color-text-red {
  color: #EA3727 !important;
}

.color-button-blue {
  color: #1F6FE8 !important;
}

.color-button-dark, .color-text-dark {
  color: #616161 !important;
}

.color-button-light, .color-text-light {
  color: #F5F5F5 !important;
}

/*

Gmarket {
  48: 메인1
  24: 메인3-카드-price
  20: 메인3-카드-title
  18: 메인3-타이틀위, 메인5-title위
  14: 메인1버튼, 메인2카드-content, 메인3카드-action

  32: 메인2-title, 메인3-title, 메인4-title, 메인5-title


}

Noto {
  18: 메인2-카드-title
  16-content: 메인1, 메인2-content, 메인3-content, 메인3-카드-항목의title, 메인4-content, 메인5-content, 메인5-카드-content, 메인6-카드-content
  14: 메인3-카드-항목의content
  12: 메인1-리뷰, 메인5-카드-chip, 메인6-카드-price

}


*/
.title-first {
  font-family: "GmarketSans";
  font-size: clamp(3.2rem, 3.2vw, 4.8rem);
  line-height: 130%;
  color: #212121;
}

.title-1 {
  font-family: "GmarketSans";
  font-size: clamp(2.4rem, 2.4vw, 3.2rem);
  line-height: 130%;
  color: #212121;
}

.title-2 {
  font-family: "GmarketSans";
  font-size: clamp(1.6rem, 1.6vw, 1.8rem);
  line-height: 150%;
  color: #212121;
}

.content-1 {
  font-family: "NotoSans";
  font-size: clamp(1.4rem, 1.2vw, 1.6rem);
  line-height: 150%;
  color: #616161;
}

.content-2 {
  font-family: "NotoSans";
  font-size: 1.4rem;
  line-height: 150%;
  color: #616161;
}

.content-3 {
  font-family: "NotoSans";
  font-size: 1.2rem;
  line-height: 150%;
  color: #616161;
}

#p1 .container {
  padding-top: 18rem;
  display: flex;
}
#p1 .container .left {
  flex-basis: 50%;
  margin-top: 10.6rem;
}
@media screen and (max-width: 959.98px) {
  #p1 .container .left {
    margin-top: unset;
  }
}
#p1 .container .right {
  flex-basis: 50%;
  padding-bottom: 5.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
#p1 .container .right img {
  width: 100%;
}
@media screen and (max-width: 959.98px) {
  #p1 .container .right .main-img-desk {
    display: none;
  }
}
#p1 .container .right .main-img-mob {
  display: none;
}
@media screen and (max-width: 959.98px) {
  #p1 .container .right .main-img-mob {
    display: block;
  }
}
#p1 .container .p1-content {
  margin-top: 2.4rem;
  margin-bottom: 4.8rem;
}
#p1 .container .apply-btn {
  border: 1px solid #1F6FE8;
  background: rgba(31, 111, 232, 0.1294117647);
  color: #1F6FE8;
  border-radius: 4px;
  padding: 1.2rem 0;
  width: 24rem;
  font-family: "GmarketSans";
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
#p1 .container .apply-btn:hover {
  background: rgba(31, 111, 232, 0.18);
}
@media screen and (max-width: 959.98px) {
  #p1 .container {
    text-align: center;
    height: unset;
    flex-direction: column;
  }
  #p1 .container .left {
    padding-top: 7.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #p1 .container .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding-bottom: 4rem;
  }
  #p1 .container .right img {
    max-width: 55rem;
  }
}

#p2 {
  background: #FAFBFC;
}
#p2 .title-1 {
  text-align: center;
}
#p2 .content-1 {
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 7.2rem;
}

#p2 .container {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}
@media screen and (max-width: 959.98px) {
  #p2 .container {
    text-align: center;
  }
}
#p2 .container img {
  width: 8rem;
  height: 8rem;
}
#p2 .container h4 {
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}
#p2 .container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12rem;
}
#p2 .container ul li {
  width: 33%;
}
@media screen and (max-width: 959.98px) {
  #p2 .container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
  }
  #p2 .container ul li {
    width: unset;
  }
}

#p3 .container {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;
  display: flex;
  position: relative;
}
@media screen and (max-width: 959.98px) {
  #p3 .container {
    flex-direction: column;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
#p3 .container .left {
  flex-basis: 33%;
  margin-top: 5.6rem;
}
@media screen and (max-width: 959.98px) {
  #p3 .container .left {
    margin-top: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
#p3 .container .right {
  flex-basis: 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
#p3 .container .p3-title2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  line-height: unset;
}
#p3 .container .p3-title1 {
  margin-top: 1.2rem;
  margin-bottom: 3.2rem;
}
#p3 .container .tq {
  margin-top: 1.2rem;
}

#p4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: "";
  background-image: url("../../images/building-full.png");
  height: 32rem;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FAFAFA;
  text-align: center;
}
#p4 .p4br {
  display: none;
}
@media screen and (max-width: 959.98px) {
  #p4 .p4br {
    display: block;
  }
}
#p4 h2, #p4 p {
  color: #FAFAFA;
}
#p4 p {
  font-weight: 100;
  margin-top: 0.4rem;
  margin-bottom: 3.2rem;
}
#p4 .apply-btn {
  border: 1px solid #BCCCF4;
  background: transparent;
  color: #BCCCF4;
  border-radius: 4px;
  padding: 1.2rem 0;
  width: 24rem;
  font-family: "GmarketSans";
  font-size: 1.4rem;
  font-weight: 500;
}

#p5 .container {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;
  display: flex;
}
#p5 .container .left {
  margin-top: 5.6rem;
  flex-basis: 50%;
}
#p5 .container .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
@media screen and (max-width: 959.98px) {
  #p5 .container {
    text-align: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  #p5 .container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: "";
  }
  #p5 .container .right {
    margin-top: 8rem;
  }
}
#p5 .container .inner-btn {
  margin-bottom: 4.8rem;
  border: 1px solid #1F6FE8;
  background: rgba(31, 111, 232, 0.1);
  color: #1F6FE8;
  border-radius: 4px;
  padding: 0.6rem 1.2rem 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: "";
  font-family: "NotoSans";
  font-size: 1.5rem;
  font-weight: 500;
  width: 14.2rem;
}
#p5 .container .p5-title2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  line-height: unset;
}
#p5 .container .p5-title1 {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

#p6 {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  background: rgb(250, 251, 252);
  text-align: center;
}
#p6 h2 {
  margin-bottom: 0.8rem;
}

#p7 .container {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;
  display: flex;
}
#p7 .container .p7-title1 {
  margin-bottom: 4.8rem;
  margin-top: 1.2rem;
}
#p7 .container .p7-title2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  line-height: unset;
}
#p7 .container .left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding-right: 12rem;
}
#p7 .container .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
@media screen and (max-width: 959.98px) {
  #p7 .container {
    text-align: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  #p7 .container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: "";
    padding-right: unset;
  }
  #p7 .container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: "";
    margin-top: 8rem;
  }
}
#p7 .container .timestamps {
  margin-top: 4rem;
  padding: 1.6rem 3.2rem;
  gap: 1.2rem;
  width: 43.6rem;
  height: 15.8rem;
  /* blue/50 */
  background: #F8F8FB;
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 170%;
  font-weight: 500;
}
#p7 .container .timestamps a {
  color: #2F5DD4;
  cursor: pointer;
}
#p7 .container .timestamps .times {
  margin-top: 1.2rem;
}
@media screen and (max-width: 959.98px) {
  #p7 .container .timestamps {
    width: 100%;
  }
}
#p7 .container video {
  max-width: 57.6rem;
  width: 100%;
}
@media screen and (max-width: 959.98px) {
  #p7 .container video {
    max-width: unset;
  }
}

#p8 {
  padding-top: 18.4rem;
  padding-bottom: 18.4rem;
  text-align: center;
}

#p9 {
  padding-bottom: 9.6rem;
}
@media screen and (max-width: 959.98px) {
  #p9 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

#p9 .container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: "";
  text-align: center;
  border-radius: 12px;
  background: rgb(244, 249, 254);
}
#p9 .container .p9br {
  display: none;
}
@media screen and (max-width: 959.98px) {
  #p9 .container .p9br {
    display: block;
  }
}
#p9 .container .apply-btn {
  border: 1px solid #1F6FE8;
  background: rgba(31, 111, 232, 0.1);
  color: #1F6FE8;
  border-radius: 4px;
  padding: 1.2rem 0;
  width: 24rem;
  font-family: "GmarketSans";
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
#p9 .container .apply-btn:hover {
  background: rgba(31, 111, 232, 0.18);
}
#p9 .container p {
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}

#c1 {
  text-align: center;
  padding-top: 18rem;
  position: relative;
}
#c1 .c1br {
  display: none;
}
@media screen and (max-width: 959.98px) {
  #c1 .c1br {
    display: block;
  }
}
#c1 .service-cont {
  margin-top: 4.8rem;
}
#c1 .content-1 {
  margin-top: 0.4rem;
}

#c2 {
  padding-top: 12rem;
  padding-bottom: 8rem;
  position: relative;
}
@media screen and (max-width: 959.98px) {
  #c2 {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 959.98px) {
  #c2 .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
#c2 .check {
  padding: 3.2rem 4rem;
  background: #FAFBFC;
  border-radius: 12px;
}
#c2 .check-title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 150%;
  color: #212121;
}
#c2 .check-list {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
  transform: translate(2rem);
}
#c2 .check-list li {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #616161;
  list-style-type: disc;
}

#f1 .container {
  padding-top: 12rem;
}
#f1 .title-1, #f1 .content-1 {
  text-align: center;
}
#f1 .content-1 {
  margin-top: 0.8rem;
}
#f1 .faq-cont {
  margin-top: 4.8rem;
}
#f1 input {
  display: none;
}
#f1 .li-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding: 2.4rem 3.2rem;
  border-top: 2px solid rgb(238, 238, 238);
}
@media screen and (max-width: 959.98px) {
  #f1 .li-cont {
    padding: 1.6rem;
  }
}
#f1 .li-cont:hover {
  background: #FAFBFC;
}
#f1 .faq-label {
  width: 100%;
}
#f1 .faq-title {
  cursor: pointer !important;
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 130%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#f1 .faq-title .title-l {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}
@media screen and (max-width: 959.98px) {
  #f1 .faq-title {
    font-size: 1.4rem;
  }
}
#f1 .faq-content {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  padding-left: 5.6rem;
}
#f1 input[type=radio]:checked + .li-cont .faq-content {
  margin-top: 1.2rem;
  max-height: 100vh;
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: max-height 2s ease;
}
#f1 input[type=radio]:checked + .li-cont .faq-content * {
  opacity: 1;
}
@media screen and (max-width: 959.98px) {
  #f1 input[type=radio]:checked + .li-cont .faq-content {
    padding-left: unset;
  }
}
#f1 input[type=radio]:checked + .li-cont {
  background: #FAFBFC;
}
#f1 .img-v {
  transform: rotate(180deg);
}
#f1 input[type=radio]:checked + .li-cont label .img-v {
  transform: rotate(0);
}
#f1 .more {
  color: #1F6FE8;
  cursor: pointer;
}
#f1 .ccard-cont {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}
#f1 .ccard-cont .ccard1 {
  width: 40%;
}
#f1 .ccard-cont .ccard2 {
  width: 40%;
}
#f1 .cert {
  margin-top: 2.4rem;
  width: 90%;
}

#f2 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
#f2 .title-1, #f2 .content-1 {
  text-align: center;
}
@media screen and (max-width: 959.98px) {
  #f2 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
#f2 .content-1 {
  margin-top: 0.8rem;
}

#f3 {
  padding-bottom: 8rem;
}
#f3 .consult-cont {
  background: #F4F9FE;
  border-radius: 12px;
  padding: 4.8rem 7.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
#f3 .consult-title {
  font-family: "GmarketSans";
  font-weight: 800;
  font-size: 2rem;
  line-height: 130%;
  margin-bottom: 0.4rem;
  color: #212121;
}
#f3 .consult-content {
  font-size: 1.4rem;
  line-height: 150%;
  color: #616161;
  margin-bottom: 2.4rem;
}
#f3 .consult-btn {
  /* Auto layout */
  font-family: "GmarketSans";
  color: #1F6FE8;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  padding: 0 2.4rem;
  width: 16rem;
  height: 4.4rem;
  background: rgba(31, 111, 232, 0.1);
  border: 1px solid #1F6FE8;
  border-radius: 4px;
}

.container {
  max-width: 123.6rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 3rem;
}
@media screen and (max-width: 959.98px) {
  .container {
    padding: 0 1.6rem;
  }
}/*# sourceMappingURL=index.css.map */